In [25]:
import pandas as pd

In [26]:
train_df = pd.read_csv('payload_train.csv')

In [27]:
train_df.head()

            payload  length attack_type label
0    c/ caridad s/n      14        norm  norm
1      campello, el      12        norm  norm
2  1442431887503330      16        norm  norm
3             nue37       5        norm  norm
4    tufts3@joll.rs      14        norm  norm

In [28]:
test_df = pd.read_csv('payload_test.csv')

In [29]:
train = train_df[['payload', 'attack_type']]

In [30]:
train.head()

            payload attack_type
0    c/ caridad s/n        norm
1      campello, el        norm
2  1442431887503330        norm
3             nue37        norm
4    tufts3@joll.rs        norm

In [31]:
train.shape

(20712, 2)

In [32]:
test_df.head()

                    payload  length attack_type label
0                     40184       5        norm  norm
1               nuda drudes      11        norm  norm
2  c/ del ferrocarril, 152,      24        norm  norm
3          2070765320009143      16        norm  norm
4                      1902       4        norm  norm

In [33]:
test = test_df[['payload', 'attack_type']]

In [34]:
test.shape

(10355, 2)

In [35]:
test.head()

                    payload attack_type
0                     40184        norm
1               nuda drudes        norm
2  c/ del ferrocarril, 152,        norm
3          2070765320009143        norm
4                      1902        norm

In [36]:
full_df = pd.concat([train, test])

In [37]:
full_df.shape

(31067, 2)

In [40]:
full_df.head()

            payload attack_type
0    c/ caridad s/n        norm
1      campello, el        norm
2  1442431887503330        norm
3             nue37        norm
4    tufts3@joll.rs        norm

In [41]:
full_df.to_json('HTTPParams.json', 'records')

C:\Users\Loukik\AppData\Local\Temp\ipykernel_23476\2484948538.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_json except for the argument 'path_or_buf' will be keyword-only.
  full_df.to_json('HTTPParams.json', 'records')

In [43]:
import json

In [44]:
with open('HTTPParams.json', 'r') as f:
    custom = json.load(f)

In [45]:
custom[0]

{'payload': 'c/ caridad s/n', 'attack_type': 'norm'}